// Colors
$blackishText: #141212;
$fieldBGColor: #EFEFEF;
$borderColor: #8728E9;
$bluishColor: #4E33E2;

// Font Sizes
$logoSize: 2.625rem; //42px
$fontSmall: 0.875rem; //14px
$fontMed: 1rem; //16px
