@import "variables";
@import "mixins";
@import "globals";


.logo{
    font-size: $logoSize;
    padding-left: 17px;
    margin-top: 18px;
    font-weight: 700;
}

#bgYellowImg{
    margin-top: -20px;
}